*{
    box-sizing: border-box;
    text-align: center;
    
}
.header{
    background-color: rgb(50, 128, 205);
    width: 100%;
    float: left;
    height: 60px;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.footer{
    background-color:  rgb(50, 128, 205);;
    width: 100%;
    float: left;
    height: 40px;
    margin-top: 10px;
}
.menu{
 
    background-color: rgba(0, 0, 139, 0.23);
    text-align: center;
    width: 100%;
    float: left;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin: 0px 10px;
}

ul li a{
    text-decoration: none;
    color: #0528a6;
    font-weight: 600;
    transition: .4s;
    font-size: 20px;
}

ul li a:hover{
    color: orangered;
    border-bottom: 1px solid orangered;
}

.dashboard{
    background: url(./imagen/fondoMain.png);

    background-color: rgba(128, 128, 128, 0.335);
    width: 100%;
    float: left;
    display: inline;
}

.dashboard img{
    width: 400px;
    margin-top: 20px;
}

.dashboard p{
    color: #ffffff;
    font-size: 16px;
}

.rss{
    background-color: rgba(0, 0, 139, 0.23);
    width: 100%;
    float: left;
}

.rss p{
    color: blue;
}
.main{
    /*background-color: rgba(34, 142, 178, 0.413);*/
    width: 100%;
    float: left;
    height: 100%;
}

/*Header logo*/
.logo{
    float: left;   
    margin-left: 50px; 
    margin-top: 20px;
}