*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
    
}
.header{
    background-color: rgba(226, 228, 230, 0.353);
    width: 100%;
    float: left;
    height: 60px;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.header h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;    
    margin: 2% 0% 6% 0%;
}

.footer{
  width: 100%;
  float: left;
  background-color: rgba(17, 17, 206, 0.761);
  text-align: center;   
}

.footer p{
  color: #ffffff;
}

.menu{ 
    background-color: rgba(17, 17, 206, 0.761);
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

.menu ul{
    display: flex;
}

.menu a{
    text-decoration: none;
    color:#ffffff;
    font-weight: 600;
    transition: .4s;
    font-size: 20px;
    float: left;
    padding: 14px 16px;

}

.menu a:hover{
    color: orangered;
    border-bottom: 1px solid orangered;
}

.dashboard{
    
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
    /*background-color: rgba(128, 128, 128, 0.335);
    width: 100%;
    float: left;
    display: inline;*/
}

.dashboard img{
    width: 50%;
    margin-top: 20px;
}

.dashboard p{
    color: #ffffff;
    font-size: 16px;
}

.rss{
    background-color: rgba(228, 129, 54, 0.875);
    width: 100%;
    float: left;
}

.rss p{
    color: rgb(241, 241, 255);
    font-size: 16px;
}
.main{
    /*background-color: rgba(34, 142, 178, 0.413);*/
    width: 100%;
    float: left;
    
}

/*Header logo*/

.logo{
    float: left;   
    margin-left: 10%; 
    margin-top: 20px;
}
/*estilos service*/


/* prueba de menu responsive  */
.menunav {
    font-size: large;
    float: left;
  }
  
  /* estilo par ael menu responsiv*/
.menunav a{
  
    float: left;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    padding: 14px 16px;
    text-decoration: line;
    font-size: 30PX;

}
  
  /* cambiar el color al pasar el mouse sobre las lineas */
  .menunav a:hover {
    background-color: black;
    color: white;
  }
  
  /* fin de prueba */

.imagenes{
    width: 100%;
  max-width: 400px;
  height: auto;
}

.mainservices{
    background-color: transparent ;
    width: 100%;
    float: left;
    height: 200px;
}
   
.gridcontainermenu{
    display: grid;
    background-color: #000000a1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.gridcontainer1{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    color: whitesmoke;
    background-color: #000000a1;
}

.gridcontainer2{
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    padding: 10px;
    color: white;
    background-color: #000000a1;
}

.gridcontainer3{
    display: grid;
    /* grid-template-columns: auto auto; */
    background-color: transparent;
    padding: 10px;
    
}
.griditem {
     background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
           
.header
{
    background-color: transparent;
    width: 100%;
    float: left;
    height: 60px;
    text-align: center;
    color: red;
}

.footerservice{
    background-image: transparent;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center; 
            color: white;
}


/* estilos de contact */

.fondo{
  background-image: url(imagen/computerstore.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
}


.menunavc {
  font-size: large;
  float: left;
}

/* estilo par ael menu responsiv*/
.menunavc a{

  float: left;
  color: rgb(0, 0, 0);
  text-align: right;
  padding: 14px 16px;
  text-decoration: line;
  font-size: 30PX;

}



input[type=texto], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=enviar] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}


h2 {
  font-size: 27px;
}


h1{
  font-size: 27px;
}

.gridcontainer1c{
  display: grid;
  grid-template-columns: auto;
  background-color: rgba(255, 255, 6, 0.9);
  padding: 10px;
  color: black;
}

.gridcontainer2c{
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
  color: white;
}

.gridcontainer3c{
  display: grid;
  /* grid-template-columns: auto auto; */
  background-color: rgba(255, 255, 6, 0.9);
  padding: 10px;
}
.griditemc{
   background-color: transparent;
   float: center;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

label {
  color: black;
  background-color: rgba(255, 255, 6, 0.9);
}

/*Style para Images*/

.divImagens{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
 
}

.divImagen1{
  width: 100%;
  height: auto;
  background-color: rgb(50, 128, 205);
}

.divImagen1 img{
  width: 50%;
  padding-left: 1%;
  margin-top: 5%;
  box-shadow: 3px 5px 3px 0px rgba(18, 9, 19, 0.561);
}


.divImagen1 p{
  color: #ffffff;
  border-style: outset;
  border-color: rgb(162, 20, 155);
  margin: 2% 10% 2% 10%;
  font: 1em sans-serif;
  transition: 4.s;
}

.divImagen1 p:hover{
 color: #ddef4f;
}

.divImagen2{
  width: 100%;
  height: auto; 
  transition: 4.s;
}

.divImagen2:hover{
  background-color: #6e9e99;
 }

.divImagen2 img{
  width: 50%;
  padding-left: 1%;
  margin-top: 5%;
 
}

.divImagen2 p{
  color: #ffffff;
  border-style: outset;
  border-color: rgb(162, 20, 155);
  margin: 2% 10% 2% 10%;
  font: 1em sans-serif;
}

.divImagen2 p:hover{
  color: #ddef4f;
 }

.divImagen3{
  width: 100%;
  height: auto;
  transition: 4.s; 
}

.divImagen3:hover{
  background-color: #6e9e99;
 }

.divImagen3 img{
  width: 50%;
  padding-left: 1%;
  margin-top: 5%;
}

.divImagen3 p{
  color: #ffffff;
  border-style: outset;
  border-color: rgb(162, 20, 155);
  margin: 2% 10% 2% 10%;
  font: 1em sans-serif;
}

.divImagen3 p:hover{
  color: #ddef4f;
 }

.divImagen4{
  width: 100%;
  height: auto;  
  background-color:  rgb(50, 128, 205);

}

.divImagen4 img{
  width: 50%;
  padding-left: 1%;
  margin-top: 5%;
  box-shadow: 3px 5px 3px 0px rgba(18, 9, 19, 0.561);
  
}

.divImagen4 p{
  color: #ffffff;
  border-style: outset;
  border-color: rgb(162, 20, 155);
  margin: 2% 10% 2% 10%;
  font: 1em sans-serif;
}

.divImagen4 p:hover{
  color: #ddef4f;
 }

.cuerpo {
  background-image: url(imagen/fondo1Imagen.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
}
